table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
    background-color: lightgrey;
}
th {
    font-weight: bold;
    background-color: greenyellow;
}